<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current purchase</title>
</head>
<body>
    <form action="/purchase" method="get">
        <table border="1" align="center" style="text-align: left; margin-top: 10%;">
            <tr>
                <th style="rotate: 330deg; text-align: center; border: 0;">№ п/п</th>
                <th>Наименование</th>
                <th>Тип</th>
                <th>Состоялось</th>
                <th>Дата размещения</th>
                <th>Дата окончания</th>
                <th>Дата рассмотрения</th>
                <th>№ Договора</th>
                <th>Начальная цена</th>
                <th>Заявок подано</th>
                <th>Заявок допущ.</th>
                <th>Цена заявок 1</th>
                <th>Цена заявок 2</th>
                <th>Разница значений</th>
                <th>Цена договора</th>
                <th>Экономия</th>
                <th>№ процедуры на еис</th>
                </th>
            </tr>
            <tr>
                <th><input type="text" name="numberOfPP"></th>
                <th><input type="text" name="nameOfPurchase"></th>
                <th><input type="text" name="typeOfPurchase"></th>
                <th><input type="text" name="conditionOfPurchase"></th>
                <th><input type="text" name="dateOfPlacement"></th>
                <th><input type="text" name="dateOfEnd"></th>
                <th><input type="text" name="dateOfReview"></th>
                <th><input type="text" name="numberOfContract"></th>
                <th><input type="text" name="startPrice"></th>
                <th><input type="text" name="applicationsSubmitted"></th>
                <th><input type="text" name="applicationsAdmitted"></th>
                <th><input type="text" name="applicationPrice1"></th>
                <th><input type="text" name="applicationPrice2"></th>
                <th><input type="text" name="differenceOfValues"></th>
                <th><input type="text" name="priceOfContract"></th>
                <th><input type="text" name="economy"></th>
                <th><input type="text" name="numberOfProcedure"></th>
            </tr>
        </table>
    </form>
</body>
</html>