<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>edit type company</title>
</head>
<body>
<form action="/editTypeCompany"    method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    {{#typeOfCompany}}
        <div><input type="hidden" value="{{id}}" name="typeCompanyId">
        <input type="text" name="newNameTypeCompany" value="{{nameOfTypeCompany}}">
        <input type="submit" value="save">
        </div>
    {{/typeOfCompany}}
</form>
</body>
</html>