<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit contract</title>
</head>
<body>
<form action="/contracts" method="post" style="margin-top: 10%;">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    {{#contract}}


    <table border="1" align="center" style="text-align: left;">
        <tr>
            <th>
                <div>Флиал</div>
            </th>
            <th>
                <div>Наименование</div>
            </th>
            <th>
                <div>ПП ПОЗ с ЕП</div>
            </th>
            <th>
                <div>Вид закупки</div>
            </th>
            <th>
                <div>№ договора</div>
            </th>
            <th>
                <div>Дата договора</div>
            </th>
            <th>
                <div>Сумма</div>
            </th>
            <th>
                <div>Дата исполнения договора</div>
            </th>
        </tr>
        <tr>
            <th><input type="text" name="branch" required="true" {{#branch}} disabled value="{{name}}" {{/branch}}></th>
            <th><input type="text" name="nameOfContract" required="true" value="{{nameOfContract}}"></th>
            <th><input type="text" name="pp_poz_ep" value="{{pp_poz_ep}}"></th>
            <th>
                {{#types}}
                    <i>
                        <input type="radio" name="typeOfPurchase" value="{{id}}">{{nameTypeOfPurchase}}
                    </i>
                {{/types}}
                {{#type}}
                    <i>
                        <input type="radio" name="typeOfPurchase" checked value="{{id}}">{{nameTypeOfPurchase}}
                    </i>
                {{/type}}
            </th>
            <th><input type="text" name="numberOfContract" required="true"value="{{numberOfContract}}"></th>
            <th><input type="date" name="dateOfContract" required="true" value="{{dateOfContract}}"></th>
            <th><input type="number" name="sum" step="0.01" required="true" value="{{sum}}"></th>
            <th><input type="date" name="dateOfExecutionContract" value="{{dateOfExecutionContract}}"></th>
        </tr>
        <tr>
            <th>
                <div>Наименование поставщика</div>
            </th>
            <th>
                <div>ИНН Поставщика</div>
            </th>
            <th>
                <div>Тип предприятия</div>
            </th>
            <th>
                <div>№ реестровой записи</div>
            </th>
            <th>
                <div>доп. соглашение</div>
            </th>
            <th>
                <div>ОКПД2</div>
            </th>
            <th>
                <div>Ф.И.О.</div>
            </th>
        </tr>
        <tr>

            {{#supplier}}
                <th><input type="text" name="nameOfSupplier" required="true" value="{{nameSupplier}}"></th>
                <th><input type="number" name="innOfSupplier" required="true" value="{{inn}}"></th>{{/supplier}}
            <th>
                {{#typesCompany}}
                    <i>
                        <input type="radio" name="typeOfCompany" required="true" value="{{id}}">{{nameTypeCompany}}
                    </i>
                {{/typesCompany}}
                {{#typeCompany}}
                    <i>
                        <input type="radio" name="typeOfCompany" checked required="true" value="{{id}}">{{nameTypeCompany}}
                    </i>
                {{/typeCompany}}
            </th>
            <th><input type="number" name="numberOfRegistryEntry" value="{{numberOfRegistryEntry}}"></th>
            <th><input type="text" name="additionalAgreement" value="{{additionalAgreement}}"></th>
            <th><input type="text" name="okdp2" value="{{okdp2}}"></th>
            <th><input type="text" name="f_i_o" value="{{f_i_o}}"></th>
            <td><input type="submit" value="Сохранить"></td>
            <td><a href="/contracts"><button>назад</button></a></td>
        </tr>
    </table>
        <input type="hidden" value="{{id}}" name="contractId">
    {{/contract}}
</form>
</body>
</html>