<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<div style="text-align: center;">
    {{#login}}
        {{login}}
    {{/login}}
</div>
<form action="/login" method="post" style="margin-top: 15%; margin-right: 45%; text-align: right;">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div><label>Username: <input type="text" name="username"></label></div>
        <div><label>Password: <input type="password" name="password"></label></div>
        <div><input type="submit" value="Sign In"></div>
        <a href="/registration">Add new user</a>
    
</form>

</body>
</html>
