<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Main page</title>
</head>
<body>
<div>
    {{#username}}
        <p>
            {{username}}
        </p>
    {{/username}}
</div>
<div>
    {{#admin}}
        <a href="/settings">Settings</a>
    {{/admin}}
</div>
    <form action="/logout" method="post"  style="text-align: right; margin-top: 1%; margin-right: 1%;">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Выход"/>
    </form>


<form style="text-align: center; margin-top: 8%;"><a href="/contracts"><h2>Сведения договора</h2></a> <a href="/purchase"><h2>Текущие закупки</h2></a></form>
</body>
</html>