<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Massages</title>
</head>
<body>
<span><a href="/user">User list</a></span>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sign Out">
    </form>
    <form action="/delMessage" method="get">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="clear list">
    </form>
</div>
<div>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="text" name="text" placeholder="Enter message">
        <input type="file" name="file">
        <input type="text" name="tag" placeholder="tag">
        <button type="submit">add</button>
    </form>
    <form method="post" action="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="text" name="filter">
        <button type="submit">find</button>
    </form>
</div>
<div>
    {{#listname}}
        {{listname}}
    {{/listname}}
</div>
{{#messages}}
    <div style="/static/style.css">
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{authorName}}</strong>
        <div>
            {{#img}}
                <img src="/img/{{img}}">
            {{/img}}
        </div>
    </div>
{{/messages}}
<div><a href="/contracts">list contracts</a></div>
</body>
</html>