<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <style>
        table{
            border: 1px solid black;
            border-radius: 10px;
            background-color: aquamarine;
        }
        td{
            background-color: rgb(201, 197, 197);
            border-radius: 6px;
        }
        div{
        float:left;
        }

    </style>
</head>
<body>
<div>
    {{#currentDate}}
        {{.}}
    {{/currentDate}}
</div>
<div><a href="/exportTables"> <button>export to excel</button> </a></div>
<br>
<div>
    <a href="/main">Main page</a> <a href="/registration">Add new user</a>
</div>
<br>
<input type="hidden" name="_csrf" value="{{_csrf.token}}">
<table style="width: 70%;">
    {{#userList}}
        <tr>
            <th class="id"><b>id- </b>
                <i>{{id}}</i>
            </th>
            <th class="name"><b>name - </b>
                <i>{{username}}</i>
            </th>
            <th class="password"><b>password - </b>
                <i>{{password}}</i>
            </th>
            <th class="role"><b>role - </b>
                <i>{{roles}}</i>
            </th>
            <th class="branch"><b>branch-</b>{{#branch}}{{name}}{{/branch}}</th>
            <th class="active"><b>active - </b>
                <i>{{active}}</i>
            </th>
            <th>блокировка - {{#isBlock}}да{{/isBlock}} {{^isBlock}}нет{{/isBlock}}</th>
            <td><a href="/user/{{id}}">edit</a></td>
        </tr>
    {{/userList}}
</table>


<div>
    <table style="margin-top: 20px;">
        <tr>
            <th style="text-align: left;">id</th>
            <th style="text-align: right;">Филиал</th>
        </tr>

        {{#branches}}
            <tr>
                <th style="text-align: left;">{{id}}</th>
                <th style="text-align: right;">{{name}}</th>
                <td><a href="/branch/{{id}}">edit</a></td>
                <td><a href="/branch/del/{{id}}">del</a></td>
            </tr>
        {{/branches}}

    </table>

    <form action="/settings" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div><input type="text" placeholder="name of branch" name="newBranch"> <input type="submit" value="add">
        </div>
    </form>
    <table>
        <tr>
            <th>id</th>
            <th>тип закупки</th>
        </tr>
        {{#typesPurchase}}
            <tr>
                <th>{{id}}</th>
                <th>{{nameTypeOfPurchase}}</th>
                <td><a href="/typePurchase/{{id}}">edit</a></td>
                <td><a href="/typePurchase/del/{{id}}">del</a></td>
            </tr>
        {{/typesPurchase}}
    </table>
    <form action="/settings/typesPurchase" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div><input type="text" placeholder="name of type purchase" name="newTypeOfPurchase"> <input
                type="submit"
                value="add"></div>
    </form>

</div>

<br>
<div>
    <table>
        <tr>
            <th>id</th>
            <th>тип предприятия</th>
        </tr>
        {{#typesCompany}}
            <tr>
                <th>{{id}}</th>
                <th>{{nameTypeCompany}}</th>
                <td><a href="/typeCompany/{{id}}">edit</a></td>
                <td><a href="/typeCompany/del/{{id}}">del</a></td>
            </tr>
        {{/typesCompany}}
    </table>

    <form action="/settings/typeCompany" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div><input type="text" placeholder="name type of company" name="newTypeCompany"> <input type="submit"
                                                                                                 value="add">
        </div>
    </form>
</div>

<div style="margin: 10px;">
    <table>
        <tr>
            <th>INN</th>
            <th>Suppliers</th>
        </tr>
        {{#suppliers}}
            <tr>
                <th>{{inn}}</th>
                <th>{{nameSupplier}}</th>
            </tr>
        {{/suppliers}}
    </table>

    <form>
        <input type="submit" disabled value="clear">
    </form>
</div>
</body>
</html>