<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <style>
        table{
            border: 1px solid black;
            border-radius: 10px;
            background-color: aquamarine;
        }
        td{
            background-color: rgb(201, 197, 197);
            border-radius: 6px;
        }




    </style>
</head>
<body>
<a href="/main">Main page</a>

<input type="hidden" name="_csrf" value="{{_csrf.token}}">
<table style="width: 70%;">
    {{#userList}}
        <tr>
            <th class="id"><b>id- </b>
                <f>{{id}}</f>
            </th>
            <th class="name"><b>name - </b>
                <f>{{username}}</f>
            </th>
            <th class="password"><b>password - </b>
                <f>{{password}}</f>
            </th>
            <th class="role"><b>role - </b>
                <f>{{roles}}</f>
            </th>
            <th class="branch"><b>branch-</b>{{#branch}}{{name}}{{/branch}}</th>
            <th class="active"><b>active - </b>
                <f>{{active}}</f>
            </th>
            <td><a href="/user/{{id}}">edit</a></td>
        </tr>
    {{/userList}}
</table>
<a href="/registration">Add new user</a>

<table style="margin-top: 20px;">
    <tr>
        <th style="text-align: left;">id</th>
        <th style="text-align: right;">Филиал</th>
    </tr>

    {{#branches}}
        <tr>
            <th style="text-align: left;">{{id}}</th>
            <th style="text-align: right;">{{name}}</th>
            <td><a href="/branch/{{id}}">edit</a></td>
        </tr>
    {{/branches}}

</table>

<form action="/settings" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="text" placeholder="name of branch" name="newBranch"> <input type="submit" value="add"></div>
</form>

<br>
<table>
    <tr>
        <th>id</th>
        <th>тип закупки</th>
    </tr>
    {{#types}}
        <tr>
            <th>{{id}}</th>
            <th>{{nameTypeOfPurchase}}</th>
            <td><a href="/type/{{id}}">edit</a></td>
        </tr>
    {{/types}}
</table>
<form action="/settings/type" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="text" placeholder="name of type purchase" name="newTypeOfPurchase"> <input type="submit" value="add"></div>
</form>
</body>
</html>