<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User edit</title>
</head>
<body>
<div>
    User editor
</div>
<form action="/user" method="post">
    {{#user}}
        <input type="hidden" value="{{id}}" name="userId">
        <div>user name <input type="text" name="username" value="{{username}}"></div>
        <div>
            {{#roleList}}
                <label><input type="checkbox" name="{{.}}"> {{.}} </label>
            {{/roleList}}
        </div>
        <div>
            {{#branches}}
                <i>
                    <input type="radio" name="branch" value="{{name}}"> {{name}}
                </i>
            {{/branches}}
        </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">save</button>

    {{/user}}
</form>
{{#user}}
    <form action="/user/del" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="hidden" name="userId" value="{{id}}">
        <button type="submit">del</button>
    </form>

    {{#contracts}}
        <div>{{.}}</div>
    {{/contracts}}

{{/user}}

</body>
</html>
